{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <div id="chat-body" class="panel panel-default">
        <div class="panel-heading"><strong>Django ChatBot</strong></div>
        <div id="msg-list-div" class="panel-body">
            <ul id="msg-list" class="list-group">
                <li class="text-left response list-group-item">Hi! How may I help you today?</li>
                <script>
                    var chatlist = document.getElementById('msg-list-div');
                    chatlist.scrollTop = chatlist.scrollHeight;
                </script>
            </ul>
        </div>
        <form id="chat-form" method="post" action="/post/">
        <div id="chat-bottom" class="input-group">
            <input type="text" id="chat-msg" name="chat-msg" class="form-control"/>
            <span class="input-group-btn">
                <input class="btn btn-danger" id="send" type="submit" value="Send"/>
            </span>
        </div>
        </form>
    </div>

</body>
</html>